# Notebook Pertama

Ini adalah notebook pertama saya menggunakan VSCode

In [2]:
print ("Halo nama saya adnan rio!")

Halo nama saya adnan rio!

Tipe Data dalam Python

In [3]:
type(5)

int

In [6]:
# contoh tipe data tunggal
print(type(5)) # contoh float
print(type(5.0)) # contoh interger
print(type(True)) # contoh boolean
print(type("Adnan RIo")) # contoh string

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

In [11]:
# contoh tipe data majemuk
(1, 5, "Adnan Rio", 3.6, True) # tuple
[1, 5, "Adnan Rio, 3.6, true"] # list
{'nama': 'Adnan Rio', 'usia':18}

{'nama': 'Adnan Rio', 'usia': 18}

Variabel

In [9]:
x = 5
print (x)

5

In [10]:
x + 4

9

In [13]:
y = 5

In [14]:
x + y

10

In [17]:
x = "46"
type(x)

str

In [18]:
nama , usia = "Rio", 29
print (nama)
print (usia)

Rio
29

In [20]:
nama_1 = "budi"
nama_2 = "wisnu"
print(nama_1,nama_2)

budi wisnu

String

In [21]:
my_string = "Adnan Rio. Aditya"
my_string_2 = 'Adnan Rio. Aditya'
type(my_string)

str

In [22]:
hari = "Jum'at"

In [26]:
quote = '"With great power comes great responsibillity ~(ben parker)"'
print(quote)

"With great power comes great responsibillity ~(ben parker)"

In [27]:
len (quote)

60

In [28]:
quote.upper()

'"WITH GREAT POWER COMES GREAT RESPONSIBILLITY ~(BEN PARKER)"'

In [29]:
quote=quote.upper()

In [30]:
quote

'"WITH GREAT POWER COMES GREAT RESPONSIBILLITY ~(BEN PARKER)"'

# String Formating

In [32]:
nama = "Budi"
usia = 29

print (f"Nama saya {nama} dan usia saya {usia} tahun") #f-string

Nama saya Budi dan usia saya 29 tahun

# Indexing & slicing

In [34]:
nama = "Hacktiv8"
nama[7]

'8'

In [35]:
nama[-2]

'v'

In [42]:
# slicing
bootcamp = "HACKTIV8"

In [43]:
bootcamp[2:6:2]

'CT'

# Operasi

In [44]:
print(5 + 6) #penjumlahan
print(5 - 6) #pengurangan
print(5 / 6) #pembagian
print(5 // 2) #pembagian interger
print(5 % 2) #sisa bagi
print(5 ** 2) #pangkat

11
-1
0.8333333333333334
2
1
25

In [46]:
nama_depan = "Adnan"
nama_belakang = "Rio"

print(nama_depan + nama_belakang) #concatenation
print (nama_depan *5)

AdnanRio
AdnanAdnanAdnanAdnanAdnan

In [48]:
# operasi perbandingan
print (5 == 3) #sama dengan
print (5 !=3) #tidak sama dengan
print(5 < 5) # lebih kecil sama dengan dari
print( 5 > 5) #lebih besar dari
print (5 >= 5) #lebih besar sama dengan dari

False
True
False
False
True

In [49]:
hasil = 5 < 3
print(hasil)

False

In [50]:
# operasi logika
True and True

True

In [51]:
True or False

True

In [52]:
True or False and True

True

In [53]:
2 < 5 and 4 > 6

False

In [54]:
# keanggotaan

nama = "Afif"
'f' in nama

True

In [55]:
buahbuahan = ("Pepaya", "Mangga", "Pisang", "Jambu")
"Mangga" in buahbuahan

True

# Tipe Data Majemuk

In [57]:
my_tuple =(4, 2, "Hacktiv8", 5.4, True, (1, 2, 3))

In [58]:
my_tuple[5]

(1, 2, 3)

In [59]:
my_tuple[5][0]

1

In [61]:
my_tuple[2][2:6]

'ckti'

In [62]:
my_tuple[0]

4

In [63]:
my_tuple[2:5]

('Hacktiv8', 5.4, True)

In [70]:
my_list =(4, 2, "Hacktiv8", 5.4, True, (1, 2, 3))

In [71]:
my_list

(4, 2, 'Hacktiv8', 5.4, True, (1, 2, 3))

In [77]:
# dictionary
biodata = {'nama': 'Adnan', 'usia':19}

In [73]:
biodata ['nama']

'Adnan'

In [78]:
biodata ['usia']

19

In [79]:
biodata.keys()

dict_keys(['nama', 'usia'])

In [80]:
biodata

{'nama': 'Adnan', 'usia': 19}

In [81]:
biodata['usia'] = 20

In [82]:
biodata

{'nama': 'Adnan', 'usia': 20}

In [83]:
biodata['pekerjaan']="Data Scientist"

In [84]:
biodata

{'nama': 'Adnan', 'usia': 20, 'pekerjaan': 'Data Scientist'}

In [85]:
del biodata['usia']

In [86]:
biodata

{'nama': 'Adnan', 'pekerjaan': 'Data Scientist'}